nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 51px 25px rgba(0, 0, 0, 0.6);
    background: #213545;
    padding: 0 20px;
    
}
nav navbr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbr li{
    list-style: none;
    padding: 0 30px;
    position: relative;
}
.navbr li a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
}


.nav img {
    display: block;
    width: 100%;
    height: auto;
}
.nav img::before{
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    filter: blur(80px);
}
@media screen and (max-width:769px){
    
    .navbar-toggle{
        display: block;
    }
    .navbar-toggle i{
        font-size: 40px;
        cursor: pointer;
    }
}