

.roadmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    margin-top: 200px;
  }
  
  .roadmap button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(190,104,194);
    color: white;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    border-radius: 20px 20px 20px 20px ;
  }
  
  .roadmap button:hover {
    background-color:rgb(166,8,153);
  }

#Rodadmap_btn {
 justify-content: center;
 text-align: center;
 align-items: center;
 padding: 0;
 margin: 0;
}
  
 